<div class="col-md-6">
    <div class="ui-box ui-box-btn">
        <div class="ui-box-head" style="line-height:18px;">
            <span class="text_span active" ng-click="openOrgTree($event)"><font>全部展开</font></span>
            <span class="text_span" ng-click="closeOrgTree($event)"><font>全部闭合</font></span>
        </div>
        <div class="ui-box-body">
            <div ron-carousel carouse='carouse' speed='20' carousel-style="position: absolute;width: 100%;height: 42px;overflow: hidden;left: 0;background: #fff;top: 5px;padding: 0 14px;z-index: 9;">
                    <a ng-click="selectedApp(app,$index)" ng-class="{active:appCurrent==$index}" ng-repeat="app in apps">{{app.displayName}}</a>
            </div>
            <div class="ui-box-body-center" style="padding-top:42px;">
                <div style="height:100%; overflow: auto;">
                <ui-tree tree-data="securityData" conf="securityConf" clickitem="clickSecurity(item)" selected-tree="selectedSecurity"></ui-tree>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6" style="border-left:1px solid #dcdcdc;">
    <div class="ui-box ui-box-btn">
        <div class="ui-box-head" style="line-height:18px;">关联角色</div>
        <div class="ui-box-body" style="background: none;">
            <div class="ui-box-body-head"></div>
            <div class="org_eployee ui-box-body-center">
                <span class="span_person" ng-repeat="item in roleList track by $index">{{item.roleName}}</span>
                <p style="text-align: center;>" ng-if="!roleList || roleList.length<1">暂无分配角色</p>
            </div>
        </div>
    </div>
</div>
